Source: casper
Section: misc
Priority: optional
Maintainer: Ubuntu Core Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends:
 debhelper (>= 10),
Standards-Version: 4.0.0

Package: casper
Architecture: any
Section: misc
Priority: extra
Depends:
 busybox-initramfs,
 dmsetup,
 initramfs-tools,
 util-linux,
 uuid-runtime,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Run a "live" preinstalled system from read-only media
